.carousel-item>img {
    height: 100%;
    object-fit: cover;
}

.carousel {
    @media (min-width: 768px) {
        height: 83vh;
    }  
}


.carousel-inner {
    height: 100%;
    display: flex;
}

.carousel-flex-h {
    display: flex;
}

.sticky {
    @media (min-width: 768px) {
        position: sticky;
        top: 114px;
        width: 100%;
    }
}